@import "../../styles/vars.scss";

.hamburger {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 100;
  .x {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: transform 400ms;
  }
  .line {
    position: absolute;
    height: 100%;
    width: 100%;
    fill: none;
    stroke: var(--primary-color);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke 500ms 200ms, stroke-dasharray 500ms 200ms,
      stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
  }
  .x .line {
    stroke-width: 5.5px;
  }
  .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
  }
  .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
  }

  &.active {
    .line {
      stroke: var(--secondary-color);
      transition: stroke 500ms, stroke-dasharray 500ms, stroke-dashoffset 500ms,
        transform 500ms;
    }
    .line1 {
      transform: scale(0, 1);
      transition: transform 500ms 100ms;
    }
    .line2 {
      stroke-dasharray: 5px 200;
      stroke-dashoffset: -164px;
    }
    .line3 {
      stroke-dasharray: 5px 179;
      stroke-dashoffset: -142px;
    }
    .x {
      transform: scale(1);
      transition: transform 400ms 350ms;
    }
  }
}
