/* Reset CSS complet */

/* Box sizing */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Typography */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.5em;
  margin: 0.67em 0;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title],
abbr[data-original-title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}

/* Forms */
button,
input,
optgroup,
select,
textarea,
.button {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input,
.button {
  overflow: visible;
}
button,
select,
.button {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  -webkit-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled],
.button[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner,
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* Grid */
@supports (display: grid) {
  /* Reset Grid */
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }
  /* Remove all paddings and margins */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd {
    margin: 0;
    padding: 0;
  }
  /* Remove list styles */
  ol,
  ul {
    list-style: none;
  }
  /* Set base font size and line-height */
  html {
    font-size: 16px;
    line-height: 1.5;
  }
  /* Set root grid element */
  body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
  }
  /* Set grid area for header, main and footer */
  header,
  main,
  footer {
    display: contents;
  }
  header {
    grid-row: 1 / 2;
  }
  main {
    grid-row: 2 / 3;
  }
  footer {
    grid-row: 3 / 4;
  }
}
