@import "./vars.scss";
@import "../components/cursor/cursor.scss";

// Variables pour les couleurs et opacités
$shadow-color: rgba(0, 0, 0, 0.2);
$shadow-color-2: rgba(0, 0, 0, 0.14);
$shadow-color-3: rgba(0, 0, 0, 0.12);
$shadow-opacity-umbra: 0.2;
$shadow-opacity-penumbra: 0.14;
$shadow-opacity-ambient: 0.12;

// Boucle pour générer les différentes ombres
@for $i from 1 through 24 {
  .shadow-#{$i} {
    box-shadow: 0 $i * 1px $i * 2px rgba($shadow-color, $shadow-opacity-umbra),
      0 $i * 3px $i * 4px rgba($shadow-color, $shadow-opacity-penumbra),
      0 $i * 6px $i * 6px rgba($shadow-color, $shadow-opacity-ambient);
  }
}

/* Couleurs */
:root {
  --primary-color: #314269;
  --primary-color-light-1: #5d6d85;
  --primary-color-light-2: #8797af;
  --primary-color-dark-1: #152037;
  --primary-color-dark-2: #152037;

  --secondary-color: #eb620f;
  --secondary-color-light-1: #f28549;
  --secondary-color-light-2: #f7a782;
  --secondary-color-dark-1: #b44c1c;
  --secondary-color-dark-2: #722b0f;

  --background-color: #fff;
  --background-color-dark: #1e1e1e;
  --text-color: var(--primary-color);
  --text-color-dark: #f1f1f1;
}

/* Polices */
html {
  font-size: 18px;
  width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  width: 100vw;
  overflow-x: hidden;
}

h1,
.h1 {
  font-size: 3rem;
  line-height: 0.9;
}

h2,
.h2 {
  font-size: 2.6rem;
  line-height: 0.9;
}

h3,
.h3 {
  font-size: 2.2rem;
  line-height: 0.9;
}

h4,
.h4 {
  font-size: 2rem;

  line-height: 0.9;
}

h5,
.h5 {
  font-size: 1.8rem;
  line-height: 0.9;
}

h6,
.h6 {
  font-size: 1.5rem;
  line-height: 0.9;
}

p,
label,
li {
  font-size: 1.1rem;
}

@media (min-width: $breakpoint-md) {
  h1,
  .h1 {
    font-size: 4rem;
    line-height: 0.9;
  }

  h2,
  .h2 {
    font-size: 3.5rem;
    line-height: 0.9;
  }

  h3,
  .h3 {
    font-size: 2.5rem;
    line-height: 0.9;
  }

  h4,
  .h4 {
    font-size: 2.25rem;

    line-height: 0.9;
  }

  h5,
  .h5 {
    font-size: 2rem;
    line-height: 0.9;
  }

  h6,
  .h6 {
    font-size: 1.8rem;
    line-height: 0.9;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.button {
  font-family: "Bebas Neue", sans-serif;
}

/* Styles de boutons */
button,
.button {
  border: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  appearance: button;
}

// button:hover {
//   background-color: var(--secondary-color);
//   color: var(--background-color);
// }

/* Styles de titre */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--primary-color);
}

/* Styles de corps de texte */
p,
small,
label,
li {
  color: var(--text-color);
}

/* Thème dark */
.dark {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark .h1,
.dark .h2,
.dark .h3,
.dark .h4,
.dark .h5,
.dark .h6 {
  color: var(--text-color);
}

.dark p {
  color: var(--primary-color-light-2);
}

.dark a {
  color: var(--secondary-color);
}

.blogpost {
  display: flex;
  flex-direction: column;
  max-width: $breakpoint-xl;
  margin: 0 auto;
  padding: 3rem 1rem 5rem 1rem;

  time {
    font-size: 1rem;
    color: var(--primary-color-light-2);
    margin-bottom: 2rem;
  }

  h2 {
    margin: 2.5rem 0;
  }

  h3 {
    margin: 2rem 0;
  }

  img {
    max-width: 100%;
    max-height: 600px!important ;
    margin: 2rem auto;
  }

  small {
    text-align: center;
    margin-bottom: 1rem;
  }

  p,
  li,
  label {
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .gatsby-resp-image-wrapper {
    max-height: 600px;
  }

  .gatsby-resp-image-image {
    object-fit: contain;
  }

  @media (min-width: $breakpoint-md) {
    p,
    li,
    label {
      font-size: 1.3rem;
      line-height: 1.7;
    }
    img {
      margin: 2rem auto;
    }
  }

  @media (min-width: $breakpoint-xl) {
    p,
    li,
    label {
      font-size: 1.4rem;
      line-height: 1.7;
    }
    img {
      max-width: 960px;
      margin: 2rem auto;
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  ul,
  ol {
    list-style: disc;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .image-container span {
    display: flex;
    width: 100%;
  }

  .gatsby-resp-image-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .gatsby-resp-image-image {
      height: auto !important;
    }
  }

  a {
    color: var(--secondary-color);
    text-decoration: underline;
  }
}

ul.withPuce {
  list-style: disc;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.center {
  text-align: center;
}

.big {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.1;
}

.ultra-big {
  display: inline;
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.1;
}

.ubber-big {
  display: inline;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
}

@media (min-width: $breakpoint-md) {
  .big {
    font-size: 2rem;
  }

  .ultra-big {
    font-size: 2.5rem;
  }

  .ubber-big {
    font-size: 4rem;
  }
}

.orange {
  display: inline;
  color: var(--secondary-color);
}

.kpi {
  font-size: 1rem;

  &__item {
    background-color: var(--primary-color-dark-1);
    border-radius: 1rem;
    color: var(--background-color);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    .big-orange {
      display: inline;
      color: var(--secondary-color);
      font-size: 1.3rem;
      padding: 0;
      margin: 0;
      line-height: 1.1;
    }
  }

  &__text {
    display: inline-block;
    font-weight: 600;
    padding: 1rem;
    line-height: 1.4;
  }

  .square {
    grid-column: span 1;
    grid-row: span 1;
    /* Styles supplémentaires pour un carré */
  }

  .rectangle-1-2 {
    grid-column: span 1;
    grid-row: span 2;
    /* Styles supplémentaires pour un rectangle 1 sur 2 */
  }

  .rectangle-3-1 {
    grid-column: span 3;
    grid-row: span 1;
    /* Styles supplémentaires pour un rectangle 3 sur 1 */
  }
}

$spacing-values: (
  0: 0,
  1: 1rem,
  2: 2rem,
  3: 3rem,
  // Ajoutez d'autres valeurs de spacing au besoin
);

@each $suffix, $value in $spacing-values {
  .m-#{$suffix} {
    margin: $value !important;
  }

  .mt-#{$suffix} {
    margin-top: $value !important;
  }

  .mr-#{$suffix} {
    margin-right: $value !important;
  }

  .mb-#{$suffix} {
    margin-bottom: $value !important;
  }

  .ml-#{$suffix} {
    margin-left: $value !important;
  }

  .mtb-#{$suffix} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }

  .mlr-#{$suffix} {
    margin-left: $value !important;
    margin-right: $value !important;
  }

  .p-#{$suffix} {
    padding: $value !important;
  }

  .pt-#{$suffix} {
    padding-top: $value !important;
  }

  .pr-#{$suffix} {
    padding-right: $value !important;
  }

  .pb-#{$suffix} {
    padding-bottom: $value !important;
  }

  .pl-#{$suffix} {
    padding-left: $value !important;
  }

  .ptb-#{$suffix} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }

  .plr-#{$suffix} {
    padding-left: $value !important;
    padding-right: $value !important;
  }
}

@media (min-width: $breakpoint-sm) {
  .list {
    flex-direction: row;
  }
}

input,
textarea {
  display: flex;
  position: relative;
  width: 100%;
  cursor: text;
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 0 1rem;
  background-color: #fff;
  border: 1px solid rgba(grey, 0.1);
  border-radius: 0.2rem;
  color: rgb(35, 38, 59);
  @include shadow(1);
  overflow: hidden;
  transition: all 150ms ease-in-out;
  outline: none;

  &:focus {
    border-color: var(--secondary-color);
    @include shadow(2);
  }

  &:hover {
    @include shadow(2);
  }

  &::placeholder {
    color: var(--primary-color-light-2);
  }

  &:disabled {
    background-color: var(--primary-color-light-2);
    color: var(--background-color);
    cursor: not-allowed;
  }

  &:disabled::placeholder {
    color: var(--background-color);
  }

  &:disabled:focus {
    border-color: var(--primary-color-light-2);
    @include shadow(1);
  }

  &:disabled:focus::placeholder {
    color: var(--background-color);
  }
}

input {
  align-items: center;
  height: 3rem;
}

textarea {
  align-items: flex-start;
  height: auto;
  padding: 1rem;
  min-height: 5rem;
  resize: vertical;
}

.form-error {
  color: var(--secondary-color);
  font-size: 1rem;
  margin-top: 0.5rem;
}

.form-group {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-event {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  white-space: wrap;
  border-style: solid;
  border-width: 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  flex: 1 1 auto;

  &.sending {
    border-color: var(--primary-color-light-2);
    background-color: rgba(grey, 0.1);
    color: grey;
  }

  &.success {
    border-color: green;
    background-color: rgba(green, 0.1);
    color: green;
  }

  &.error {
    border-color: red;
    background-color: rgba(red, 0.1);
    color: red;
  }
}

.cookie-consent {
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    black,
    var(--primary-color-dark-1),
    var(--primary-color),
    var(--primary-color-dark-1),
    black
  );
  color: var(--background-color);
  flex-direction: column;
  z-index: 1;

  div {
    display: flex;
    padding: 1rem;
    flex: 1 1 auto;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    @include shadow(2);

    font-size: 2rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
    color: var(--primary-color);
    background-color: var(--background-color);
    margin: 0 0 0 1rem;

    &:hover {
      @include shadow(4);
    }

    &:first-child {
      margin: 0 0 0 0;
    }
  }
}

@media (min-width: $breakpoint-md) {
  .cookie-consent {
    padding: 0 1rem;
    flex-direction: row;
    div {
      justify-content: flex-start;
      text-align: left;
    }

    div:last-child {
      justify-content: flex-end;
    }
  }
}
