$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1080px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;

// Mixin pour générer les ombres Material Design
@mixin shadow($elevation) {
  $umbra-color: rgba(0, 0, 0, 0.2);
  $penumbra-color: rgba(0, 0, 0, 0.14);
  $ambient-color: rgba(0, 0, 0, 0.12);

  box-shadow: 0 $elevation * 1px $elevation * 2px $umbra-color,
    0 $elevation * 3px $elevation * 4px $penumbra-color,
    0 $elevation * 6px $elevation * 6px $ambient-color;
}
