.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem 0.5rem;

  &__item {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.2rem 0;
    font-size: 1.2rem;
    color: var(--primary-color);
    transition: color 0.15s ease-in-out;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: var(--primary-color);

      width: 0;
      transition: width 0.15s ease-in-out, background-color 0.15s ease-in-out;
    }
    &:hover {
      color: var(--secondary-color);
      &::before {
        width: calc(100% - 1.6rem);
        background-color: var(--secondary-color);
      }
    }

    &::after {
      content: "";
      display: inline-block;
      vertical-align: middle;
      width: 1rem;
      height: 1rem;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 320 512'%3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      padding: 0 0.8rem;
    }

    &:last-child {
      &::after {
        display: none;
      }

      &::before {
        display: none;
      }

      &:hover {
        color: var(--primary-color);
        &::before {
          width: 0;
          background-color: var(--primary-color);
        }
      }
    }
  }
}
