@import "../../styles/vars.scss";

.spotlight {
  --spotlight-start: #eb620f;
  --spotlight-end: rgb(0, 191, 255);
  --font-size-spotlight: 10vw;
  position: relative;
  width: 100%;
  background-color: var(--primary-color);
  mix-blend-mode: difference;
  letter-spacing: 0;
  white-space: nowrap;

  .shapes {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 0;
  }

  .shape {
    will-change: transform;
    position: absolute;
    border-radius: 50%;
    z-index: 0;
    background: var(--spotlight-glow);
    opacity: 1;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
    filter: blur(40px);
  }

  .styled-title,
  .content,
  .overlay {
    display: flex;
    width: 100%;
  }

  .styled-title,
  .content {
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .content,
  .overlay {
    background: linear-gradient(
      90deg,
      black,
      var(--primary-color-dark-1),
      var(--primary-color),
      var(--primary-color-dark-1),
      black
    );
  }

  .styled-title {
    z-index: 2;
    background-color: #000;
    margin: 0;
    height: 50vw;
    padding-top: 2rem;
    font-size: calc(22vw - var(--font-size-spotlight));
    margin-bottom: -4px;

    mix-blend-mode: multiply;

    * {
      color: #fff;
      font-family: Montserrat;
      font-weight: 900;
      font-size: inherit;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;
    }
  }

  .content {
    position: relative;
    z-index: 4;
    padding-bottom: 6vh;

    * {
      color: #fff;
      white-space: normal;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    z-index: 3;
    mix-blend-mode: lighten;
  }
}

@media all and (min-width: $breakpoint-md) {
  .spotlight {
    .styled-title {
      height: 34vh;
      font-size: calc(12vw - var(--font-size-spotlight) / 2);
    }
    .shape {
      width: 450px;
      height: 450px;
      margin: -225px 0 0 -225px;
      filter: blur(90px);
    }
  }
}
