.circlechart {
  --circlechart-start: #0c6;
  --circlechart-background: #effff7;
  --circlechart-text: #080;
  --circlechart-end: white;
  --p: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 140px;
  max-height: 140px;
  background: conic-gradient(
    var(--circlechart-start) var(--p, 0),
    0,
    var(--circlechart-end)
  );
  border-radius: 50%;

  &:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 90%;
    background: var(--circlechart-background);
    border-radius: 50%;
  }

  span {
    position: absolute;
    font-size: 1.5rem;
    font-family: monospace;
    font-weight: 600;
    color: var(--circlechart-text);
    z-index: 1;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: center;
    font-weight: 500;
    color: #555;
    padding-top: 1rem;
    margin-top: 0 !important;
  }
}
