@import "../../styles/vars.scss";

.cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
  user-select: none;
  cursor: none;

  .pointer {
    position: absolute;
    width: 36px;
    height: 36px;
    margin: -18px 0 0 -18px;
    border-radius: 50%;
    border: 2px solid var(--spotlight-glow);
    background-color: transparent;
    will-change: transform;
    user-select: none;
    pointer-events: none;
  }
  .pointer__dot {
    position: absolute;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background-color: var(--spotlight-glow);
    border-radius: 50%;
    will-change: transform;
    user-select: none;
    pointer-events: none;
  }
}

::selection {
  color: white;
  background-color: var(--secondary-color);
}
